<!DOCTYPE html>
<html>
<head>
  <title>SMS Базары</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "jquery.editinplace" %>
  <%= csrf_meta_tag %>
</head>
<body>
  <center>  
  <div id="top_info">
    <span>SMS Базары</span>
  </div>
  
  <div id="top_black_box">
  </div>
  
  <div id="main_content_box">
    <%= yield %>
  </div>
  </center>
</body>
</html>
