<% if params[:admin] %>
  <script type="text/javascript">
  $(document).ready(function() {
    <% unless @current_node.root? %>
      $("#current_node_name").editInPlace({
        url: "/edit_category/<%= @current_node.id %>",
      });
    <% end %>
  });
</script>
<% end %>

<div class="content">
  <div style="color:#62A9AF;padding-bottom:15px;">Последние объявления</div>  
  <% @last_advs.each do |adv| %>
    <div style="padding:10px;">
      <div style="padding-bottom:5px;">
        <%= render :partial => "shared/crumps", :locals => {:node_id => adv.node_id} %>
      </div>
      <div>
        <%= render :partial => "shared/adv", :locals => {:adv => adv} %>
      </div>
    </div>
  <% end %>
</div>

<div class="content" style="padding-bottom:25px;padding-top:20px;">
  <div style="color:#62A9AF;padding-bottom:15px;">Города</div>  
  <% @cities.each do |city| %>
    <div style="width:200px;float:left;padding:10px;">
      <a href="/advs/city/<%= city %>"><%= city %></a>
    </div>
  <% end %>
  <div style="clear:both;"></div>
</div>

<div class="content">

  <% if @current_node.present? %>
    
    <div style="color:#62A9AF; padding-bottom:15px;">
      <% if @current_node.root? %>
        <% @current_node.name = "Каталог" %>
      <% end %>
      <span id="current_node_name"><%= @current_node.name %></span>
      
      <% if params[:admin] %>
        <% unless @current_node.root? %>
          <span style="display:inline-block;vertical-align:text-top;">
            <a href="/delete_category/<%= @current_node.id %> " style="color:red;font-size:11px;">удалить</a>
          </span>
        <% end %>
      <% end %>
      
    </div>
  <% end %>
  
  <% @cats.menu_items.each do |cat| %>
    <div style="width:200px;float:left;padding:10px;">
      <a href="/cat/<%= cat.id %>"><%= cat.name %></a>
    </div>
  <% end %>
  <div style="clear:both;"></div>
  
  <% if @current_node.leaf? %>
    <div class="advs">
      <% @advs.each do |adv| %>
        <div style="padding-bottom:10px;">
          <%= render :partial => "shared/adv", :locals => {:adv => adv} %>  
        </div>
      <% end %>
    </div>
  <% end %>
    
  <% if params[:admin] %>
    <div class="category_form" style="padding-top:45px;width:300px;float:left;">
      <div>Создать раздел</div>
      <form method="post" action="/add_category">
        <input type="hidden" name="parent_id" value="<%= @current_node.id %>" /> 
        <div style="padding:5px;">
          <input type="text" name="name" />&nbsp;<input type="submit" value="OK" /> 
        </div>
      </form>
    </div>
  <% end %>

  <div style="clear:both;"></div>
</div>
