<script type="text/javascript">
$(document).ready(function() {
  <% unless @current_node.root? %>
    $("#current_node_name").editInPlace({
      url: "/edit_category/<%= @current_node.id %>",
    });
  <% end %>
});
</script>

<div class="content">

  <% if @current_node.present? %>
    <div class="bread_crumps" style="font-size:12px;padding-bottom:10px;">
      <% @bread_crumps.each do |crump| %>
        <% if crump.name == "root" %>
          <% crump.name = "Каталог" %>
        <% end %>
        &#8592;&nbsp;<a href="/cat/<%= crump.id %>"><%=crump.name%></a>
      <% end %>
    </div>
    <div style="color:#62A9AF; padding-bottom:15px;">
      <% if @current_node.root? %>
        <% @current_node.name = "Каталог" %>
      <% end %>
      <span id="current_node_name"><%= @current_node.name %></span>
      <% unless @current_node.root? %>
        <span style="display:inline-block;vertical-align:text-top;">
          <a href="/delete_category/<%= @current_node.id %> " style="color:red;font-size:11px;">удалить</a>
        </span>
      <% end %>
    </div>
  <% end %>
  
  <% @cats.menu_items.each do |cat| %>
    <div style="width:200px;float:left;padding:10px;">
      <a href="/cat/<%= cat.id %>"><%= cat.name %></a>
    </div>
  <% end %>
  <div style="clear:both;"></div>
  
  <% if @current_node.leaf? %>
    <div class="advs">
      <% @advs.each do |adv| %>
        <div>
          <%= adv.content %>
        </div>
      <% end %>
    </div>
  <% end %>
    
  <div class="category_form" style="padding-top:45px;width:300px;float:left;">
    <div>Создать раздел</div>
    <form method="post" action="/add_category">
      <input type="hidden" name="parent_id" value="<%= @current_node.id %>" /> 
      <div style="padding:5px;">
        <input type="text" name="name" />&nbsp;<input type="submit" value="OK" /> 
      </div>
    </form>
  </div>

  <div style="clear:both;"></div>
</div>
