<div><%= adv.content %></div>
<span><%= format_phone_number(adv.phone) %></span> <a href="/advs/city/<%= adv.city %>"><%= adv.city %></a>

<% if params[:admin] %>
  <span>
    <a href="/advs/delete/<%= adv.id %>" style="color:red;font-size:11px;">удалить</a>
    <a href="/advs/edit/<%= adv.id %>" style="color:red;font-size:11px;">редактировать</a>
  </span>
<% end %>

