<%= form_for(@adv) do |f| %>
  <% if @adv.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@adv.errors.count, "error") %> prohibited this adv from being saved:</h2>

      <ul>
      <% @adv.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
