<h1>Listing advs</h1>

<table>
  <tr>
    <th>Phone</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @advs.each do |adv| %>
  <tr>
    <td><%= adv.phone %></td>
    <td><%= adv.content %></td>
    <td><%= link_to 'Show', adv %></td>
    <td><%= link_to 'Edit', edit_adv_path(adv) %></td>
    <td><%= link_to 'Destroy', adv, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Adv', new_adv_path %>
