<div class="content" stype="line-spacing:10px;">
  <% @advs.each do |adv| %>
    <div style="padding-bottom:30px;">
      <div class="bread_crumps" style="font-size:12px;">
        <% crumps = get_crumps(adv.node_id) %>
        <% crumps.each do |crump| %>
          <% if crump.name == "root" %>
            <% crump.name = "Каталог" %>
          <% end %>
          &#8592;&nbsp;<a href="/cat/<%= crump.id %>"><%=crump.name%></a>
        <% end %>
      </div>
      <div><%= adv.content %></div>
      <span><%= format_phone_number(adv.phone) %></span> <span><%= adv.city %></span>
      <span>
        <a href="/advs/delete/<%= adv.id %>" style="color:red;font-size:11px;">удалить</a>
      </span>
    </div>
  <% end %>
</div>
